* {
  box-sizing: border-box;
}

:root {
  --color1: #000000;
  --color2: #6EDA00;
  --color3: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color1);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h3,
h6 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--color3);
}

h5 {
  font-weight: 700;
}

button:hover {
  box-shadow: 10px 5px 5px var(--color1);
}

/* Navbar */

.navbar-custom {
  background-color: var(--color2);
}

.navbar-brand,
.nav-link {
  color: var(--color1) !important;
}

.navbar-toggler {
  border: none;
}




/* Hero */
#hero {
  padding: 50px;
}

.flexbox {
  display: flex;
  display: grid;
  grid-template-areas: "title image"
    "description image";
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
}

.title {
  grid-area: title;
}

.description {
  grid-area: description;
}

.image {
  grid-area: image;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}


/* About Me */
#about {
  padding: 50px;
}

#about .row {
  background-color: var(--color3);
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

#about h3 {
  color: var(--color1);
}

#about img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

/* Skills */
#skills {
  margin: 0 50px;
  padding-top: 50px;
}

#skills .row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#skills .card {
  border: none;
  margin: 30px 10px;
  width: 30%;
}

#skills img {
  width: 30%;
  display: block;
  margin: 20px auto;
}

#skills h6 {
  color: black;
}


/* Work */
#work {
  padding: 50px 50px 0 50px;
}

#work .card {
  border: none;
  margin: 30px 0;
}

#work img {
  padding: 40px;
}

.work-card {
  padding-top: 40px;
}

/* Footer */
#footer {
  margin: 20px 0;
}

.links {
  display: flex;
  justify-content: center;
}

#footer a {
  text-decoration: none;
  color: var(--color3);
  margin: 0 10px;
}

#footer a:hover {
  color: var(--color2);
}

#footer h6 {
  margin: 20px 0;
  text-align: center;
}



@media only screen and (max-width: 480px) {

  .title {
    padding-bottom: 20px;
  }

  .description {
    padding-bottom: 40px;
  }

  #work img {
    padding: 20px;
  }

  .work-card {
    padding-top: 0;
  }

  .flexbox {
    grid-template-areas: "title"
      "description"
      "image";
  }

  #skills .card {
    width: 100%
  }

  #about h3 {
    padding-top: 30px;
  }

}