* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: darkgray;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h3, h6 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: blue;

}

/* Navbar */


/* Hero */
#hero {
  /* background-color: red; */
  height: 400px;
  padding: 50px;
}

.flexbox {
  display: flex;
  display: grid;
  grid-template-areas: "title image"
  "description image";
  align-items: center;
}

.title {
  grid-area: title;
}

.description {
  grid-area: description;
}

.image {
  grid-area: image;
  border-radius: 50%;
}


/* About Me */
#about {
  padding: 50px;
}

#about .row {
  background-color: aqua;
}

#about img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

/* Skills */
#skills {
  margin: 0 50px;

}

#skills .card {
  border: none;
  margin: 30px 0;
}

/* Work */
#work {
  padding: 0 50px;
}

#work .card {
  border: none;
  margin: 30px 0;
}

/* Contact */
#contact {
  margin: 20px 0;
  background-color: red;
}

/* #contact img {
  width: 60px;
} */
#contact h6 {
  text-align: center;
  margin: 20px 0;
}